.slider {
	/* position & sizing */
	position: relative;
	padding: 16px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* style */
	background: var(--bg-01);
	border-radius: 16px;
}

@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 414px) {
	.slider {
		/* position & sizing */
		padding: 20px;
	}
}
