.submit__button {
	width: 100%;
	height: 68px;
	background: var(--ac-00);
	border-radius: 40px;
	font: 900 30px/36px 'Nekst', arial, sans-serif;
	color: var(--tx-00);
	cursor: pointer;
	transition: opacity 0.2s ease-out, background 0.2s ease-out;
}

.submit__button:hover {
	background: var(--tx-01);
}

.submit__button:active {
	background: var(--tx-03);
}

@media screen and (max-width: 768px) {
	.submit__button {
		font: 900 3.90625vw/4.6875vw 'Nekst', arial, sans-serif;
	}
}

@media screen and (max-width: 600px) {
	.submit__button {
		font: 900 5vw/6vw 'Nekst', arial, sans-serif;
	}
}

@media screen and (max-width: 440px) {
	.submit__button {
		font: 900 22px/20px 'Nekst', arial, sans-serif;
	}
}

@media screen and (max-width: 414px) {
	.submit__button {
		height: 60px;
	}
}
