.title {
	/* style */
	font: 900 54px/49px 'Nekst', arial, sans-serif;
	color: var(--tx-01);
}

@media screen and (max-width: 1120px) {
}
/* TODO recount this breakpoint to 1024px */
@media screen and (max-width: 768px) {
	.title {
		/* style */
		font: 900 7.03125vw/6.3802083333333vw 'Nekst', arial, sans-serif;
	}
}

@media screen and (max-width: 483px) {
	.title {
		/* style */
		font: 900 34px/30.6px 'Nekst', arial, sans-serif;
	}
}

@media screen and (max-width: 414px) {
}
