.app {
	/* position & sizing */
	width: 100vw;
	height: 100vh;
	padding: 213px 48px;
}

@media screen and (max-width: 1120px) {
	/* TODO remove if unsused */
}

@media screen and (max-width: 768px) {
	.app {
		/* position & sizing */
		padding: 64px 36px 156px 36px;
	}
}

@media screen and (max-width: 320px) {
	.app {
		/* position & sizing */
		padding: 44px 20px 64px 20px;
	}
}
