.slider__input_disabled {
	opacity: 0.4;
}

.slider__input_disabled:hover {
	cursor: not-allowed;
}

.slider__input_disabled::-webkit-slider-thumb:hover {
	cursor: not-allowed;
}

.slider__input_disabled::-moz-range-thumb:hover {
	cursor: not-allowed;
}

.slider__input_disabled::-ms-thumb:hover {
	cursor: not-allowed;
}
