.slider__input {
	position: absolute;
	bottom: 0;
	left: 24px;
	height: 2px;
	width: calc(100% - 48px);
	background: var(--bg-03);
	background-image: linear-gradient(var(--ac-00), var(--ac-00));
	background-repeat: no-repeat;
	border-radius: 2px 2px 0 0;
	transition: opacity 0.2s ease-out;
}

.slider__input:active {
	height: 1px;
}

.slider__input::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: grab;
}

.slider__input::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: grab;
}

.slider__input::-ms-thumb {
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: grab;
}

@media screen and (max-width: 414px) {
	.slider__input {
		left: 20px;
		width: calc(100% - 40px);
	}
}

@media screen and (max-width: 414px) {
	.slider__input {
		left: 20px;
		width: calc(100% - 40px);
	}
}
