.slider__input {
	/* position & sizing */
	position: absolute;
	bottom: -9px;
	left: 24px;
	height: 20px;
	width: calc(100% - 48px);
	/* style */
	background: transparent;
}

/* TODO check in other browsers */

/* chrome input */

.slider__input::-webkit-slider-thumb {
	/* position & sizing */
	height: 20px;
	width: 20px;
	/* style */
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: pointer;
}

.slider__input::-webkit-slider-runnable-track {
	/* position & sizing */
	width: 100%;
	height: 2px;
	/* style */
	cursor: pointer;
	background: var(--ac-00);
	border-radius: 2px 2px 0 0;
}

/* firefox input */

.slider__input::-moz-range-thumb {
	/* position & sizing */
	height: 20px;
	width: 20px;
	/* style */
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: pointer;
}

.slider__input::-moz-range-track {
	/* position & sizing */
	width: 100%;
	height: 2px;
	/* style */
	cursor: pointer;
	background: var(--ac-00);
	border-radius: 2px 2px 0 0;
}

/* edge input */

.slider__input::-ms-thumb {
	/* position & sizing */
	height: 20px;
	width: 20px;
	/* style */
	border: none;
	border-radius: 100%;
	background: var(--ac-00);
	cursor: pointer;
}

.slider__input::-ms-track {
	/* position & sizing */
	width: 100%;
	height: 2px;
	/* style */
	cursor: pointer;
	background: var(--ac-00);
	border-radius: 2px 2px 0 0;
}

@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 414px) {
	.slider__input {
		/* position & sizing */
		left: 20px;
		width: calc(100% - 40px);
	}
}
