:root {
	--bg-00: #ffffff;
	--bg-01: #f3f3f4;
	--bg-02: #e0e0e0;
	--bg-03: #e1e1e1;

	--sh-00: #f3f3f4;
	--sh-01: #ebebec;

	--tx-00: #ffffff;
	--tx-01: #111111;
	--tx-02: #333e48;
	--tx-03: #575757;

	--ac-00: #ff9514;

	--sp-duration: 1.4s;
	--sp-offset: 187;
}

html {
	line-height: 0;
}

div,
header,
main,
footer,
section,
form,
button {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

input {
	line-height: 0;
	border: none;
	background: transparent;
}

input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
}

button {
	margin: 0;
	padding: 0;
	background: transparent;
	line-height: 0;
	border: none;
}
