:root {
	--bg-00: #ffffff;

	--sh-00: #f3f3f4;
	--sh-01: #ebebec;

	--tx-01: #111111;
	--tx-02: #333e48;
}

* {
	/* TODO remove if not used */
}

html {
	line-height: 0;
}

div {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* TODO remove all unused rules */

/* TODO remove template after layout is finished */

/*
@media screen and (max-width: 1120px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
}
*/
